<button (click)="showAllTypes()">Show all</button>
<button (click)="filterByTypeVegetable()">Only vegetables</button>
<button (click)="filterByTypeFruit()">Only fruit</button>
<br>
<button (click)="sortByPrice()">Sort by price</button>
<br>
<button (click)="sortByName()">Sort by name</button>

<div class="store--item-list">
  <app-green-item
    *ngFor="let item of items"
    [item]="item"
    (add)="addToCart($event)"
  ></app-green-item>
</div>
<!---
metoden add länkar till metoden i service
-->
